<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>日志查看器</title>
    <link href="__RES__/layui/css/layui.css" rel="stylesheet">
    <style type="text/css">
        #treelist .layui-tree-entry,
        #treelist .layui-tree-txt,
        #treelist .layui-icon-addition,
        #treelist .layui-icon-subtraction,
        #treelist .layui-icon-delete,
        #treelist .layui-icon-file {
            color: #fff;
        }

        .layui-layout-admin .layui-logo {
            font-size: 30px;
        }

        .layui-logo .layui-icon {
            font-size: 36px;
        }

        .layui-table, .layui-table-view {
            margin-top: 0px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <i class="layui-icon layui-icon-read"></i>日志查看器
        </div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="{:url('/viewer/logout')}">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <div class="demo-tree demo-tree-box" id="treelist"></div>
        </div>
    </div>

    <script id="toolbarDemo" type="text/html">
        <div class="layui-btn-container pull-right">
            <button class="layui-btn layui-btn-sm" lay-event="delAll">删除选中记录</button>
        </div>
    </script>
    <script id="barDemo" type="text/html">
        <a class="layui-btn layui-btn-xs" lay-event="view">查看日志</a>
        <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
    </script>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <table class="layui-hide" id="file_list_id" lay-filter="filetable"></table>
    </div>

    <script id="sexDir" type="text/html">
        {{#  if(d.is_dir == 1){ }}
        <span style="color: #5a5708;">文件夹</span>
        {{#  } else { }}
        文件
        {{#  } }}
    </script>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="__RES__/layui/layui.js"></script>
<script>


    //JavaScript代码区域
    layui.use(['tree', 'util', 'table'], function () {
        var tree = layui.tree,
            layer = layui.layer,
            util = layui.util,
            table = layui.table,
            $ = layui.$;

        var request = {
            //目录数据
            treedata: function () {
                $.get("{:url('viewer/tree')}", function (json) {
                    tree.reload('lefttree_id', {data: json.data});
                }, 'json');
            },
            // 文件列表
            filelist: function (dirpath) {
                //执行重载
                table.reload('file_table_id', {
                    where: {
                        path: dirpath
                    }
                }, 'data');
            },
            //文件内容
            content: function ($path) {
                var url = "{:url('viewer/view')}" + "?path=" + $path;
                //$.get("{:url('viewer/read')}", {path: $path}, function (content) {
                //页面层
                /*  var index = layer.open({
                      type: 1,
                      title:'日志内容',
                      skin: 'layui-layer-rim', //加上边框
                      area: ['1280px', '800px'], //宽高
                      maxmin: true,
                      content: content
                  });
              }, 'html');*/
                layer.open({
                    type: 2,
                    title: '日志内容',
                    area: ['1280px', '800px'], //宽高
                    maxmin: true,
                    content: url, //iframe的url，no代表不显示滚动条
                });
            },
            //删除文件
            delete: function ($path) {
                console.info($path);
                $.post("{:url('viewer/del')}", {path: $path}, function (result) {
                    layer.alert('删除成功', {icon: 6});
                }, 'json');
            }
        };

        //常规用法
        tree.render({
            elem: '#treelist', //默认是点击节点可进行收缩
            data: [],
            accordion: true,
            edit: ['del'],
            onlyIconControl: true,  //是否仅允许节点左侧图标控制展开收缩
            id: 'lefttree_id',
            click: function (obj) {
                var data = obj.data; //得到当前节点的数据
                if (data['path'] != '') {
                    request.filelist(data['path']);
                }
            },
            operate: function (obj) {
                var type = obj.type; //得到操作类型：add、edit、del
                var data = obj.data; //得到当前节点的数据
                var elem = obj.elem; //得到当前节点元素
                if (type === 'del') { //增加节点
                    if (data['path'] != '') {
                        request.delete(data['path'], 1);
                    }
                }
            }
        });

        //文件列表
        table.render({
            elem: '#file_list_id'
            , url: "{:url('viewer/list')}"
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: []
            , cols: [[
                {type: 'checkbox'},
                {field: 'filename', width: '20%', title: '文件名'}
                , {field: 'filesize', title: '文件大小'}
                , {field: 'last_time', title: '最后访问时间'}
                , {field: 'is_dir', title: '是否目录', templet: '#sexDir'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
            ]],
            page: false,
            id: 'file_table_id'
        });//监听行工具事件
        table.on('tool(filetable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行吗？', function (index) {
                    request.delete(data['path'], 0);
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'view') {
                request.content(data['path']);
            }
        });
        //头工具栏事件
        table.on('toolbar(filetable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'delAll':
                    var data = checkStatus.data;
                    if (data.lenght < 1) {
                        layer.alert('未选中记录', {icon: 5});
                        return false;
                    }
                    layer.confirm('真的删除行吗？', function (index) {
                        var paths = [];
                        for (var i = 0; i < data.length; i++) {
                            paths.push(data[i]['path']);
                        }
                        request.delete(paths.join(';'));
                        table.reload('file_table_id');
                        layer.close(index);
                    });
                    break;
            }
            ;
        });

        //监听行双击事件
        table.on('rowDouble(filetable)', function (obj) {
            var data = obj.data;
            if (data['is_dir'] == 0) {
                request.content(data['path']);
            } else {
                request.filelist(data['path']);
            }
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');

        });
        //加载treedata
        request.treedata();
    });

</script>
</body>
</html>
